@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(24, 77, 21);
  background: linear-gradient(
    0deg,
    rgba(24, 77, 21, 1) 0%,
    rgba(160, 215, 146, 1) 100%
  );

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}
.w50 {
  width: 50%;
  float: left;
  padding-right: 15px;
}
.box {
  display: flex;
  width: 930px;
}
.form-box {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  padding: 30px 40px;
  width: 50%;
  border-radius: 10px;
}
.form-box h2 {
  font-size: 30px;
  text-align: center;
  color: #184d15;
}

.form-box form {
  margin: 20px 0;
}
form .input-group {
  margin-bottom: 30px;
}
form .input-group label {
  color: #184d15;
  display: block;
  margin-bottom: 0px;
  font-size: small;
}
form .input-group input {
  width: 100%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 0px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color: #184d15;
}
form .input-group button {
  width: 100%;
  height: 47px;
  background: #184d15;
  border-radius: 0px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
@media (max-width: 930px) {
  .box {
    width: 700px;
  }
  .form-box {
    width: 100%;
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .w50 {
    width: 100%;
    padding: 0;
  }
}
